@import "tailwindcss";

@theme {
	--color-schwarz-100: #000000;
	--color-schwarz-80: #333333;

	--color-dunkelblau-100: #0c2753;
	--color-dunkelblau-200: #030812;

	--color-mittelblau-100: #5f8ec8;

	--color-hellblau-100: #b0c8e4;
	--color-hellblau-60: #d1dff0;
	--color-hellblau-50: #e1eaf5;
	--color-hellblau-30: #f5f8fc;
}

@layer utilities {
	.focus-outline-default {
		@apply focus-visible:rounded-[3px] focus-visible:outline-3 focus-visible:outline-mittelblau-100 focus-visible:outline-offset-2;
	}
	.underline-offset-6 {
		text-underline-offset: 6px;
	}
}
