@import "tailwindcss";

@theme {
	--color-schwarz-100: #000000;
	--color-schwarz-80: #333333;
	--color-schwarz-40: #737373;

	--color-dunkelblau-100: #0c2753;
	--color-dunkelblau-200: #030812;
	--color-dunkelblau-80: #465a7b;

	--color-mittelblau-100: #5f8ec8;

	--color-hellblau-100: #b0c8e4;
	--color-hellblau-60: #d1dff0;
	--color-hellblau-50: #e1eaf5;
	--color-hellblau-30: #f5f8fc;

	--breakpoint-1080: 1080px;
	--breakpoint-1512: 1512px;

	@keyframes shrink-grow {
		0% {
			transform: scale(1);
		}
		50% {
			transform: scale(0.6);
		}
		100% {
			transform: scale(1);
		}
	}

	@keyframes fadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	--animate-fade-in: fadeIn 0.5s ease-in-out forwards;

	--animate-shrink-grow: shrink-grow 1s ease-in-out infinite;
}

@layer utilities {
	.focus-outline-default {
		@apply focus-visible:rounded-[3px] focus-visible:outline-3 focus-visible:outline-mittelblau-100 focus-visible:outline-offset-2;
	}
	.underline-offset-6 {
		text-underline-offset: 6px;
	}
	.underline-offset-4 {
		text-underline-offset: 4px;
	}
}

html {
	scroll-behavior: smooth;
}
